.post-show
  .data-nav-location{ "data-nav-location": "#posts-nav" }
  = render 'post_nav'

  .matchableHeight
    %h1= @post.title
    = @post.content.html_safe
    .small
      Posted
      = time_ago_in_words @post.posted_date
      ago

  = render 'post_nav'
