!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mlcontent
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .row
        .header
          = image_tag "sophie-header.jpg"
      .row
        .content.col-sm-9.order-2.order-sm-1
          = yield

        -# This should be a template
        .sidebar.col-sm-3.order-1.order-sm-1.m-2.m-sm-0
          %h2 Sidebar
          %ul
            %li Item 1
            %li Item 2
            %li Item 3
            %li Item 4
            %li Item 5
