!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title About a bichpoo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'sidebar', async: true
  %body
    .container
      .row
        .header
          = image_tag "sophie-header.jpg"
          %h1#blog-title.position-absolute About a bichpoo
      .row
        .navigation
          = render "nav"
      .row
        .content.col-sm-7.col-md-8.order-2.order-sm-1
          #matchable-height
            = yield
        .sidebar.col-sm-5.col-md-4.order-1.order-sm-1.m-2.m-sm-0
          = render "sidebar"

      .row
        .footer.text-center
          Content copyright Kathryn Pedelty 2018
